*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a{

    text-decoration: none;
    color: #000000;
}

.wrapper{
    background-color: rgba(0, 0, 0, 0.09);
    width: 100vw;
    min-height: 100vh;
}


.main{
    background-color: #ffffff;
    max-width: 1024px;
    margin: 0 auto;
}

.goods_list{
    display: flex;
    flex-wrap: wrap;
}
.good{
    width: 300px;
    margin: 20px;
    padding: 10px;

}

.good_name{
    font-size: 20px;
    font-weight: 900;
}

.good_price{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
}

.goods_quantity{
    margin-bottom: 10px;
    font-weight: 100;
}


